<div class="product-form">
  <h3 class="product-form-title">Add new product</h3>
  <%= form_with model: @product,  url: products_path, method: :post do |form|%>
  <div class="form-control">
     <%= form.label :name, "Product name" %>
     <%= form.text_field :name %>
  </div>
   <div class="form-control">
     <%= form.label :image_url, "Product image url" %>
     <%= form.text_field :image_url %>
  </div>
   <div class="form-control">
     <%= form.label :price, "Product price" %>
     <%= form.text_field :price %>
  </div>
   <div class="form-control">
     <%= form.label :description, "Product description" %>
     <%= form.text_area :description %>
  </div>
  <div class="button-container">
   <%= form.submit "Submit" %>
  </div>
  <%end%>
</div>