<% if !@products.size.zero?  %>
<ul class="products-list">
  <% @products.each do |product| %>
  <li class="product <%= cycle("even", "odd")%> edit-<%= product.id %>">
    <span class="product-name"> <%= product.name%></span>
    <p class="product-desc"> <%= product.description%></p>
    <%= link_to "Edit", edit_product_path(product) %>
    <%= link_to "Delete", edit_product_path(product) %>
  </li>
<% end %>
</ul>
<% else %>
<div class="products-not-found">
  <h3 class="product-not-found__note">Products not found. Please add new product by clicking on button below.</h3>
  <%= link_to "Add new product", new_product_path %> 
</div>
<% end %>